<h2>Crear/Editar Valor {{valor}} </h2>


<div class="crear-editar">
    <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Input Field Text">   
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Alias</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Catalogo</mat-label>
        <mat-select>
          <mat-option value="one">Tipo de sangre</mat-option>
          <mat-option value="two">Periodo</mat-option>
          <mat-option value="three">Curso</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

</div>


<div class="botones">
    <button mat-stroked-button (click)="goBack()">Cancel</button>
    <button mat-stroked-button (click)="goBack()">Guardar</button>
</div>

