<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
   <div class="list-buttons">
    <ul>
      <li><a routerLink="Estudiantes">Estudiantes</a></li>
      <li><a routerLink="Catalogos">Catalogos</a></li>
      <li><a routerLink="Cat.Valor">Cat.Valor</a></li>
    </ul>

   </div>
   

  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="main-header">
      <mat-toolbar>
        <span>My Application</span>
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </mat-toolbar>

    </div>

    <div class="main-body">
      <router-outlet></router-outlet>
    </div>

    <div class="catalogo-valor-container">

      <div class="valor-header">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input (input)="filterCatalogoValor()"  [(ngModel)]="searchInput" valor="searchInput" matInput placeholder="Search.....">
        </mat-form-field>


        <button mat-stroked-button (click)="goToCatalogoValorForm()"  >Create</button>

      
      </div>
      <div class="valor-table">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        

            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>


        
            <!-- Weight Column -->
            <ng-container matColumnDef="alias">
              <th mat-header-cell *matHeaderCellDef> Alias </th>
              <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="catalogo">
              <th mat-header-cell *matHeaderCellDef> Catalogo </th>
              <td mat-cell *matCellDef="let element"> {{element.catalogo}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Accion </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-stroked-button (click)="editCatalogoValor(element)">Editar</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        
        
      </div>
    </div>


    
  </div>

</mat-drawer-container>

