<div class="body">
  <form [formGroup]="datosPersonalesForm" (ngSubmit)="guardar()">
    <h2>{{ mode === 'edit' ? 'Editar Datos Personales' : 'Crear Datos Personales' }} </h2>

    <div class="crear-editar">

      <mat-form-field appearance="outline">
        <mat-label>Nombres y Apellidos</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombres y Apellidos">
  
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Cédula</mat-label>
        <input matInput formControlName="cedula" placeholder="Cédula">
      
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Carrera</mat-label>
        <mat-select formControlName="carrera" class="limited-height-select">
          <mat-option *ngFor="let catalogo of catalogos" [value]="catalogo.especialidad">{{ catalogo.especialidad }}</mat-option>
        </mat-select>

      </mat-form-field>
      
  
      <mat-form-field appearance="outline">
        <mat-label>Nivel</mat-label>
        <mat-select formControlName="nivel">
          <mat-option *ngFor="let catalogo of catalogos" [value]="catalogo.nivel">{{ catalogo.nivel }}</mat-option>
        </mat-select>
     
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">

      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="Teléfono">
       
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Estado Civil</mat-label>
        <mat-select formControlName="estadoCivil">
          <mat-option *ngFor="let catalogo of catalogos" [value]="catalogo.estado">{{ catalogo.estado }}</mat-option>
        </mat-select>
 
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Sangre</mat-label>
        <mat-select formControlName="tipoSangre">
          <mat-option *ngFor="let catalogo of catalogos" [value]="catalogo.sangre">{{ catalogo.sangre }}</mat-option>
        </mat-select>
       
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Domicilio</mat-label>
        <input matInput formControlName="domicilio" placeholder="Domicilio">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Contacto de Emergencia</mat-label>
        <input matInput formControlName="contactoEmergencia" placeholder="Contacto de Emergencia">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Teléfono de Emergencia</mat-label>
        <input matInput formControlName="telefonoEmergencia" placeholder="Teléfono de Emergencia">
      </mat-form-field>
  
      <div class="botones">
        <button mat-flat-button type="button" (click)="goBack()">Cancelar</button>
        <button mat-stroke-button type="submit">{{ mode === 'edit' ? 'Guardar cambios' : 'Crear' }}</button>
      </div>

    </div>
    
  </form>
</div>
