<h2>Crear/Editar Valor {{valor}} </h2>


<div class="crear-editar">
    <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Input Field Text">   
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Alias</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Catalogo</mat-label>
        <input matInput placeholder="Chose the catalogo">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Input Field Text">
    </mat-form-field>

</div>


<div class="botones">
    <button mat-stroked-button (click)="goBack()">Cancel</button>
    <button mat-stroked-button (click)="goBack()">Guardar</button>
</div>

