

.list-buttons{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.example-sidenav {
  padding: 50px 0px 0px 0px;
  background-color: rgb(215, 215, 215);
  width: 250px;
  border-radius: 0%;

  
}

.example-sidenav-content {
  padding: 50px 50px 0px 50px;

}

.decorador mat-Toolbar{
  background-color: rgb(215, 215, 215);
  padding: 30px 50px 55px 50px;
  display: block;
}

a {
  text-decoration: none;
  color: #0166d2;
  font-weight: bold;
}

a:hover {
  color: #0166d296;
}

.link{
padding: 10px;
border: 1px solid #0166d2;
border-radius: 10px;
margin-top: 1rem;
}

.imagen{
  width: 120px;
  height: 120px;
  margin-inline-start: 64px;
}
