.main-header mat-toolbar {
  background: #2196F3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.list-buttons{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.example-sidenav {
  padding: 20px;
}