<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="list-buttons">
        <button mat-flat-button>Estudiante</button>
        <button mat-flat-button>Catalogo</button>
        <button mat-flat-button>Catalogo Valor</button>
      </div>



    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>

    <div class="main-body">
      <router-outlet></router-outlet>  

    </div>
  
  </mat-drawer-container>


  

  
 