<div class="body">

    <form [formGroup]="catalogoForm" (ngSubmit)="guardar()">
      <h2>{{ mode === 'edit' ? 'Editar' : 'Crear' }} {{ id }}</h2>
    
      <div class="crear-editar">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID" formControlName="id" [disabled]="mode === 'edit'">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Alias</mat-label>
          <input matInput placeholder="Descripcion" formControlName="descripcion">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Catalogo</mat-label>
          <mat-select>
                <mat-option value="one">Nombre</mat-option>
                <mat-option value="two">Descripcion</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="Descripción" formControlName="descripcion">
        </mat-form-field>
      </div>
    
      <div class="botones">
        <button mat-stroked-button type="button" (click)="goBack()">Cancelar</button>
        <button mat-flat-button type="submit">{{ mode === 'edit' ? 'Guardar cambios' : 'Crear' }}</button>
      </div>
    </form>
  
  </div>