<div class="body">

    <form [formGroup]="catalogoForm" (ngSubmit)="guardar()">
      <h2>{{ mode === 'edit' ? 'Editar Catálogos' : 'Crear Catálogos' }} </h2>
    
      <div class="crear-editar">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID" formControlName="id" >
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="Descripción" formControlName="descripcion">
        </mat-form-field>
      </div>
    
      <div class="botones">
        <button mat-flat-button text="" type="button" (click)="goBack()">Cancelar</button>
        <button mat-stroke-button type="submit" >{{ mode === 'edit' ? 'Guardar cambios' : 'Crear' }}</button>
      </div>
    </form>
  
  </div>